body {
  margin: 0;
  font-family:'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(175, 33, 33, 0);
  overflow: hidden;
  height:100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height:100%;
  width: 100%;
}

.spec{
  resize: both;
  background-color: rgba(175, 33, 33, 0);
  display: flex;
  flex-direction: column;
}